<footer class="page-section-no-padding  footer2-container">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="col-xs-6">
                <p>Günaydın İNŞAAT</p>
                <br>Tüm hakkı saklıdır<br> fundagunaydin35@gmail.com
            </div>
            <img class="pull-right" src="{{ asset('assets') }}/img/group.jpg" style="height:50px;width: 40">
            <!-- Social Links -->
            <div class="text-right col-xs-6 footer2-social-container">
                <p>Bizi Takip Edin</p>
                <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="#" title="Google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="#" title="Youtube" target="_blank"><i class="fa fa-youtube"></i></a>
                <a href="#" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
            </div>

        </div>
    </div>
</footer>