{% extends 'homebase.html.twig' %}

{% block title %}Misyon ve Vizyon{{ setting[0].title }} {% endblock %}
{% block keywords %} {{ setting[0].keywords }}{% endblock %}
{% block description %}{{ setting[0].description }} {% endblock %}


{% block body %}

    <!-- Page Header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="/">AnaSayfa</a></li>
                        <li><a href="#">Kurumsal</a></li>
                        <li>Misyon Ve Vizyon</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Misyon Ve Vizyon</h1>
                </div>
            </div>
        </div>
    </div>


    <!-- Features -->
    <section class="page-section padding-30">
        <div class="container">
            <div class="row">
                <!-- Content -->
                <div class="col-md-9">
                    <div class="blog-listing">
                        <article>
                            <h2>  Misyon ve Vizyon</h2>
                            <hr class="title-underline">
                            <p>

                                Vizyonumuz;
                                Temeli insana ve doğaya saygı olan, bireyin doğallığıyla bağını koparmadan modernlik, mimari ve teknolojiden üst düzeyde faydalanmasını sağlamak ve bu sayede Yaşam Mimarlığı felsefemizi, tüm dünyaya örnek oluşturacağımızı gözden kaçırmadan yaşam pratiğine aktarmak.
                            </p>
                            <p>
                                Misyonumuz;
                                İnsanın ilk çağlardan beri süregelen yuva ihtiyacını, ona doğal ve modern olanaklarla çevrelenmiş olarak sunmak.
                                Öncelikle sosyal, sportif ve kültürel aktivitelerle bağını eksiksiz kurarak, doğal yuva ihtiyacını sağlam bir zemine oturtmak.
                                Sonra modernlik, mimari mükemmellik ve teknolojinin akıllı kullanımıyla insanı geleceğe taşımak ve böylelikle yüceltmek.
                            </p>
                        </article>
                    </div>
                </div>






                    </div>
                    </div>
    </section>


    <!-- Loads Bootstrap Main JS -->
    <script src="{{ 'assets' }}/bootstrap/js/bootstrap.min.js"></script>
    <meta name="author" content="Andreas Lautenschlager - www.lautenschlager.de">



{% endblock %}
