<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-info-sign"></i> Error</a>
    <div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>

            <li><a href="/admin/category"><i class="icon icon-th-list"></i> <span>Category</span></a></li>
            <li><a href="/admin/emlak"><i class="icon icon-home"></i> <span>Advertisement</span></a></li>
            <li><a href="/admin/user"><i class="icon icon-user-md"></i> <span>Users</span></a></li>
            <li><a href="/admin/messages"><i class="icon-comments"></i> <span> Form Messages</span></a></li>
            <li><a href="/admin/comment"><i class="icon icon-user"></i> <span>User Comments</span></a></li>

            <li class="submenu"><a href="/admin"><i class="icon icon-info-sign"></i> <span>General</span> <span
                            class="label label-important"></span></a>
                <ul>
                    <li><a href="{{ path('setting_index') }} "> Settings </a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>
<!--sidebar-menu-->