{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profil{% endblock %}


{% block body %}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Ana Sayfa</a></li>
                        <li><a href="#">Kullanıcı</a></li>
                        <li>Düzenle</li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>İlanı Düzenle</h1>
                </div>
            </div>
        </div>
    </div>


    <!-- Right Sidebar Container  -->
    <section class="page-section padding-30">

        <div class="container">
            <div class="row">
                <!-- Content -->

                <div class="col-md-9 col-md-push-3">
                    <div class="blog-listing">
                        <article>
                            <h2>İlan Kullanıcı</h2>
                            <hr class="title-underline">
                            <p>
                                {{ include('emlak/_form.html.twig', {'button_label': 'Güncelle'}) }}
                            </p></article>
                    </div>
                </div>
                {{ include('user/usermenu.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}

