<!DOCTYPE html>
<html>
    <head>
       
       
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}En İyi Online Emlak!{% endblock %}">
         <meta name="keywords" content="{% block keywords %}emlak,konut,satıs,alıs,kayıt{% endblock %}">
        <meta name="author" content="Funda Gunaydin">

        {% block head %}{% include('home/head.html.twig') %}{% endblock %}
        {% block stylesheet %} {% endblock %}
    </head>
    <body>
    	
     {% block header %}{% include('home/header.html.twig') %}{% endblock %}
     {% block sidebar %}  {% endblock %}
     {% block slider %}  {% endblock %}
     {% block body %} {% endblock %}
     {% block footer %} {% include('home/footer.html.twig') %}{% endblock %}
     {% block javascripts %}{% include('home/javascripts.html.twig') %} {% endblock %}
    </body>
</html>

